// Bootstrap Import
@import '~bootstrap/scss/bootstrap';

// FontSource Import
@import '~@fontsource/roboto/100.css';
@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/400.css';
@import '~@fontsource/roboto/500.css';
@import '~@fontsource/roboto/700.css';
@import '~@fontsource/roboto/900.css';

@import '../style/variables.scss';


body { 
    font-family: "Roboto"; 
}

.my-container {
    width: 60%;
    margin: auto;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mini-title {
    color: $page-primary-color;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

.green {
    color: $page-primary-color;
}

.grey {
    color: darken($page-secondary-color, 20%);
}

.contrast-green-light {
    background-color: #daeced;
    color: $page-primary-color;
    padding: 0 10px;
    border-radius: 5px;
}

.contrast-green-dark {
    background-color: #0e272d;
    color: white;
    padding: 0 10px;
    border-radius: 5px;
}

.heading-title {
    font-weight: 900;
    font-size: 40px;
    margin: 10px 0;
}

.paragraph {
    font-size: 14px;
    font-weight: 300;
    color: darken($page-secondary-color, 20%);
}
