// Bootstrap Import
@import '~bootstrap/scss/bootstrap';

// FontSource Import
@import '~@fontsource/roboto/100.css';
@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/400.css';
@import '~@fontsource/roboto/500.css';
@import '~@fontsource/roboto/700.css';
@import '~@fontsource/roboto/900.css';

@import '../style/variables.scss';


body { 
    font-family: "Roboto"; 
}

.my-container {
    width: 60%;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mini-title {
    color: $page-primary-color;
}